 body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-panel{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-panel input {
    width: 94%;
    margin-bottom: 1px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-panel button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
 .login-panel button:hover {
     background-color: #0c61b4;
 }

.login-form {
    display: flex;
    flex-direction: column;
}


